*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg: red;
}

body{
  background-color: var(--bg);
  @media screen and (min-width:1240px){
    --bg : yellow;
  }

}

// @media screen and (min-width:1240px) {
//   :root{
//     --bg : yellow;
//   }
// }


$breakpoints: (
  movil: 450px,
  tablet: 768px,
  web: 1025px,
  hd: 1400px,
);

$units: rem, px, em;

@mixin from($size) {
  @if map-has-key($breakpoints, $size) {
    @media screen and (min-width: map-get($breakpoints,$size)) {
      @content;
    }
  } @else if type-of($size) == "number" and index($units,unit($size)) != null {
    @media screen and (min-width: $size) {
      @content;
    }
  }
}

@mixin to($size) {
  @if map-has-key($breakpoints, $size) {
    @media screen and (max-width: map-get($breakpoints,$size)) {
      @content;
    }
  } @else if type-of($size) == "number" and index($units,unit($size)) != null {
    @media screen and (max-width: $size) {
      @content;
    }
  }
}


body {
  @include to(movil) {
    --bg : tomato;
  }

  @include to(tablet){
    --bg : blue;
  }
  @include from(web){
    --bg : gray;
  }
}


// Operaciones con variables
  // css calc() => es interpretado por el navegador
  // scss operadores + - * / => devuelven valores estáticos


.button{
  --width : 25%;
  background-color: red;
  width: calc(calc(var(--width) * 2) / 3 );
}


// manipular variables css con javascript

// root
// document.documentElement
// document.documentElement.style.setProperty('--color', e.target.value)
// const rootSyles = getComputedStyle(root)
// rootSyles.getPropertyValue('--bg')

// otra forma

// const root = document.querySelector(':root');
// const rootStyles = getComputedStyle(root);
// const pink_color = rootStyles.getPropertyValue('--pink');
// root.style.setProperty('--pink', '#F7F00C')


// fallback para variables css usando sass
// un fallback es un plan b cuando algo no existe , en este caso un plan b usando sass cuando el navegador no soperte custom properties(variables css)
// recordar que para hacer un fallback el valor que sera el plan b debe estar primero y luego el computado que en este caso es la variable css
// por cascada

// h1{
//   color : green; // fallback
//   color : var(--bg);
// }


@mixin var($property,$value) {
  color : $value;
  color : var(--#{$property});
}

h1{
  @include var(bg,green);
}

// mejorando el codigo anterior
// https://codepen.io/jakealbaugh/post/css4-variables-with-fallbacks-using-sass
// https://gist.github.com/IgnaciodeNuevo/4a945cec3c68bb6a0ad829bd14c96918
// https://codyhouse.co/blog/post/how-to-combine-sass-color-functions-and-css-variables
// https://caniuse.com/#search=variables
