//  las variables de css tambien son llamados custom properties

// sass global
$color : blue;

// css global
// --color: red;
:root{
  --color : red;
  --bg : yellow;
}

/*
  scope de varaibles
  sass => a nivel del bloque de código
  css => a nivel del DOM (herencia)
*/

// body{
//   --local-var : 2em;
//   $local-var : 12px;
//   background-color: var(--color);
//   color: $color;
//   font-size: $local-var;
//   border: var(--local-var) solid var(--color);
// }

// .text{
//   --var : yellow;
//   font-size: var(--local-var);
// }

// p {
//   color: var(--var);
// }

// sass -> variables son estáticas despues de la transpilacion a css
// css -> variables son dinámicas antes y despues de la transpilacion


.button {
  // --bg : green;
  background-color: var(--bg);
}
.button--success {
  --bg : green; // cambia la variable en tiempo real , las variables de sass NO tienen este comportamiento
}
.button--error {
  --bg : red;
}
