@mixin menu {
  color: red;
  display: block;
  .link {
    @content;
  }
}

.menu {
  @include menu {
    color: green;
  }
}
$breakpoints: (
  movil: 450px,
  tablet: 768px,
  web: 1025px,
  hd: 1400px,
);
// $units : (
//   px : 'px',
//   em : 'em',
//   rem : 'rem'
// );

$units: rem, px, em;

@mixin from($size) {
  @if map-has-key($breakpoints, $size) {
    @media screen and (min-width: map-get($breakpoints,$size)) {
      @content;
    }
    // } @else if type-of($size) == 'number' and unit($size) == 'px' {
    // } @else if type-of($size) == 'number' and map-has-key($units,unit($size)) {
  } @else if type-of($size) == "number" and index($units,unit($size)) != null {
    @media screen and (min-width: $size) {
      @content;
    }
  }
}

.elementoCss {
  width: 100%;
  // @include from(768px){
  @include from(movil) {
    width: 70%;
    background-color: tomato;
  }
}

$chainable_column: "chainableEl";

@mixin elActive {
  .#{$chainable_column}.s--active & {
    @content;
  }
}
.#{$chainable_column} {
  &__inner {
    @include elActive {
      transition: transformY(50%);
    }
  }
}
