$colors : hsl(0,100,50);
@for $deg from 1 through 360 {
    $colors : append($colors , hsl($deg,100,50) , comma );
}

body{
    min-height: 100vh;
    background-color: linear-gradient(to top,$colors);
    // background-color: linear-gradient(to down,$colors);
    // background-color: linear-gradient($colors);
    // background-color: radial-gradient(circle at center,$colors);

}

$buttons : true !default;
$buttons-colors : (
    primary        : green,
    secondary      : blue,
    alert          : red,
    call-to-action : orange,
    error : red
);
@mixin buttons($colors...) {
    @if $buttons {
        .button{
            display: inline-block;
            margin: 1em;
            color: nth($colors,1);
            a{
                text-decoration: none;
            }
            @if length($colors) >= 2 {
                @for $i from 2 through length($colors) {
                    &.#{nth($colors,$i)}{
                        color:nth($colors,$i);
                    }
                }
            }
        }
    }
}

@mixin buttons-map($colors...) {
    @if $buttons {
        .button{
            display: inline-block;
            margin: 1em;
            color: map-get($buttons-colors,nth($colors,1));
            a{
                text-decoration: none;
            }
            @if length($colors) >= 2 {
                @for $i from 2 through length($colors) {
                    &.#{nth($colors,$i)}{
                        color: map-get($buttons-colors,nth($colors,$i));
                    }
                }
            }
        }
    }
}



@include buttons(red,blue,yellow);
// @include buttons-map(primary,secondary);
@include buttons-map(map-keys($buttons-colors)...);

@mixin syntax-colors($args...) {
    @debug keywords($args);
    // (string: #080, comment: #800, variable: $60b)

    @each $name, $color in keywords($args) {
        pre span.stx-#{$name} {
            color: $color;
        }
    }
}

@include syntax-colors(
    $string: #080,
    $comment: #800,
    $variable: #60b,
);

@mixin  default-param($param:flex) { // parámetros
    p {
        display: $param;
    }
}

@include default-param(); // argumentos


@mixin menu($selector-item,$selector-link) {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    #{$selector-item}{
        display: block;
    }

    #{$selector-link}{
        text-decoration: none;
        display: block;
    }
}


.menu{
    @include menu('.item','.link');
}