@function long-shadow($n,$color){
  $shadow: #{1px 1px $color};

  @for $index from 2 through $n {
    $shadow : append($shadow,#{$index*1px $index*1px $color},comma);
  }
  @return $shadow;
}

body{
  background-color: red;
}
.text{
  font-size: 6em;
  text-shadow: long-shadow(500,darken(red,20));
}
