@charset "UTF-8";
/*
  el arte del dibujo , cualquier categoria
  la luz se sustrae se resta, mientras se aumente mas colores
  el color resultante se oscurece


  imprentas (imprimir)

  colores base : cyan , magenta , amarillo , negro (CMYK)
*/
/*

pantallas

colores base : red green blue RGB

todas las pantallas usan el modo RGB
todos los pixeles tienen un punto rojo verde y azul
256  2~8  R, 2~8 G, 2~8 B === +16M de colores === Profundidadd de color de 24 bits



hsl

hue , saturation, lightenss

1. hue = tono del color (0-360 deg)
2. saturacion = intensidad del color (gris al color puro 0% - 100%)
3. luminosidad = cantidad de luz (0% - 100%)

*/
/*
fuera del tema
  BEM : taxonomia css
  diseñar nombres de clases css

  block : contenedor - entidad autonoma main-menu
  element : cada hijo del bloque main-menu__item
  modifier : usar el mismo elemento pero se modifica
    main-menu--footer


  SMACSS http://smacss.com/
  SCALABLE AND MODULAR ARCHITECTURE FOR CSS

  BASE
    los aplicados a elementos html (body,ul,li) no clases no id
    casi casi como un normalize
    inizializar los estilos
  THEME
    es el look and feel de la web o aplicacion (diseño)
    colores, tipografia
  STATES
    estilos para cambios de estados, elemntos que aparecen y desaparecen
    .is-hide / .is-show , interaccion con js
  LAYOUT
    maquetación sin estlos de tema
    ejm
      el header tendra dos columnas
      el footer width 50%
  MODULES
    los componentes que se repiten a los largo de la aplicacion
    botones, iconos, widgets

*/
body {
  background-color: #00aaff; }

/*
  RGB
    estas funciones saca el color que se quiere de un cierto codigo , hsl rgb hexagesimal
    red($color)
    green($color)
    blue($color)

  hsl

    hue($color)
    saturation($color)
    lightness($color)

    darken($color,cantidad a oscurecer)
    lighten($color,cantidad de luz)

    saturate($color,cantidad de pureza)
    dsesaturate($color,cantidad)

    adjust-hue($color,cantidad) = hue color + cantidad
*/
body {
  background-color: yellow;
  color: #222; }
