
.menu{
    display: block;
    color: blue;
}

@each $size,$screen-size in $map-size {
    @media all and (min-width:#{$screen-size}) {
        @for $index from 1 to 20 {
            .#{$size}-#{$index*5}{
                width: $index*5%;
            }
        }
    }
}