$color: blue;
$size : 200px;

//  default significa que esa variable podria ser sobreescrita no importa si esta antes o despues
$color: red !default;

body{
    background: red;
    color: $color;
    padding-top: $size * 2;
}

//  interpolacion de variables
//  hacer una variable una clase o selector css

$interpolacion : 'inteporlacion';
$body : 'body';
.#{$interpolacion}{
    color : $color;
}
#{$body}{
    color : $color;
}
##{$interpolacion}{
    color : $color;
    // width: calc(100% - $size); error
    width: calc(100% - #{$size});
}

// anidamiento
// color selectores dentro de otros

ul{
    display: block;
    margin: 0;
    animation : menu 1s;

    @keyframes menu {
        to {
            color: red;
        }
    }
    li{
        margin:0;
    }

    @media screen and (min-width : 640px) {
        display: flex;
    }
    &:hover{
        cursor: pointer;
    }
    &::before{
        content: "Thom";
    }
    & li {
        text-decoration: none;
    }
}


.menu{
    display: block;
    &__item{
        color: red;
    }
    font: {
        size: 1em;
        style :italic;
        family:arial;
    };

    grid-template : {
        columns: 100px 100px;
        rows: auto
    };
}

$var_string_1 : hola;
$var_string_2 : 'hola';
$quote :quote(hola); // esto agrega comillas
$unquote : unquote('hola'); // esto quita comillas
// tipos de datos
// string
// numbers
// booleans
// maps
// lists
$number : 12em;

body{
    background: type-of($var_string_1);
    content: type-of($var_string_2);
    margin: $number/2;
}
$boolean_true : true;
$boolean_false : false;

// listas
$list : 1em solid red;

p{
    color: $list;
}

// map

$map: (
    color :red,
    font : arial,
    size : 20px
);

$colors : (
    primary:red,
    second:blue
);

div{
    // color : map-get($map,color);
    color : map-get($colors,primary);
}