body {
  background: red;
  color: blue;
  padding-top: 400px; }

.inteporlacion {
  color: blue; }

body {
  color: blue; }

#inteporlacion {
  color: blue;
  width: calc(100% - 200px); }

ul {
  display: block;
  margin: 0;
  animation: menu 1s; }

@keyframes menu {
  to {
    color: red; } }
  ul li {
    margin: 0; }
  @media screen and (min-width: 640px) {
    ul {
      display: flex; } }
  ul:hover {
    cursor: pointer; }
  ul::before {
    content: "Thom"; }
  ul li {
    text-decoration: none; }

.menu {
  display: block;
  font-size: 1em;
  font-style: italic;
  font-family: arial;
  grid-template-columns: 100px 100px;
  grid-template-rows: auto; }
  .menu__item {
    color: red; }

body {
  background: string;
  content: string;
  margin: 6em; }

p {
  color: 1em solid red; }

div {
  color: red; }
